<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Enable responsive viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le styles -->
    <link href="{{ ASSET_PATH }}/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">
    <link href="{{ ASSET_PATH }}/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Scripts -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script type="text/javascript" src="{{ ASSET_PATH }}/js/bootstrap.min.js"></script>

    <!-- atom & rss feed -->
    <link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">
  </head>

  <body>
    <div class="container">
        {% include navbar.html %}
        <div class='col-md-8'>
            {{ content }}
        </div>
        <!-- {% include sideinfo.html %} -->
    </div>
    <footer class="footer">
        <div class="container">
            <p class="text-muted">&copy; {{ site.time | date: '%Y' }} {{ site.author.name }} </p>
        </div>
    </footer>
    {% include analytics %}
    {% include scripts %}
  </body>
</html>
