<div class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
	    <div class="navbar-header">
		 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
		      <span class="sr-only">Toggle navigation</span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		</button>
            <li class="active"><a href="#blog" data-toggle="tab">Blog Posts</a></li>
            <li><a href="#tech" data-toggle="tab">Tools & Technology</a></li>
            <li><a href="#soft" data-toggle="tab">Teams & People</a></li>
            <li><a href="#process" data-toggle="tab">Processes & Techniques</a></li>
            <li><a href="#media" data-toggle="tab">Media</a></li>
            <li><a href="#misc" data-toggle="tab">Misc</a></li>
	    </div>
	</div>
</div>
