<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ HOME_PATH }}">{{ site.title }}</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{{ HOME_PATH }}">Home</a></li>
        <li><a href="{{ HOME_PATH }}blog">Blog Posts</a></li>
        <li><a href="{{ HOME_PATH }}tech">Tools & Technology</a></li>
        <li><a href="{{ HOME_PATH }}tech">Teams & People</a></li>
        <li><a href="{{ HOME_PATH }}tech">Processes & Techniques</a></li>
        <li><a href="{{ HOME_PATH }}tech">Media Reviews</a></li>
        <li><a href="{{ HOME_PATH }}tech">Misc Posts</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
