    {% assign category = page.categories[0] %}
    {% assign posts = site.categories[category] %}


{% if page.categories %}
  {% for post in posts %}
    {% if post.url == page.url %}
      {% assign post_index0 = forloop.index0 %}
      {% assign post_index1 = forloop.index %}
    {% endif %}
  {% endfor %}
  {% for post in posts %}
    {% if post_index0 == forloop.index %}
      {% assign next_category_post = post %}
    {% endif %}
    {% if post_index1 == forloop.index0 %}
      {% assign prev_category_post = post %}
    {% endif %}
  {% endfor %}
{% endif %}


    <!-- Next / Previous Buttons -->
    <div class="row">
        <div class="col-md-4">
          {% if next_category_post  %}
            <a class='btn btn-info btn-block' href="{{ BASE_PATH }}{{ next_category_post.url }}" title="{{ next_category_post.title }}">&larr; Next Post</a>
          {% else %}
            <a class='btn btn-info btn-block disabled' >&larr; Next Post</a>
          {% endif %}
        </div>
        <div class="col-md-4 col-md-offset-4">
          {% if prev_category_post %}
            <a class='btn btn-info btn-block' href="{{ BASE_PATH }}{{ prev_category_post.url }}" title="{{ prev_category_post.title }}">Previous Post &rarr;</a>
          {% else %}
            <a class='btn btn-info btn-block disabled' >Previous Post &rarr;</a>
          {% endif %}
        </div>
    </div>
