<!-- Performance optimizations -->
<meta http-equiv="Cache-Control" content="public, max-age=31536000">
<meta http-equiv="X-DNS-Prefetch-Control" content="on">

<!-- DNS Prefetch for external resources -->
<link rel="dns-prefetch" href="//ajax.googleapis.com">
<link rel="dns-prefetch" href="//fonts.googleapis.com">
<link rel="dns-prefetch" href="//www.google-analytics.com">
<link rel="dns-prefetch" href="//disqus.com">
<link rel="dns-prefetch" href="//c.disquscdn.com">

<!-- Preconnect to required origins -->
<link rel="preconnect" href="https://ajax.googleapis.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
<link rel="preconnect" href="https://www.google-analytics.com" crossorigin>

<!-- Resource hints for faster subsequent page loads -->
<link rel="prefetch" href="{{ ASSET_PATH }}/css/bootstrap.min.css">
<link rel="prefetch" href="{{ ASSET_PATH }}/js/bootstrap.min.js">