
<div class='col-md-4'>
    <div class='thumbnail'>
	<div class='caption'>
	    <img class="img-circle img-responsive img-center" alt="Mark Pearl" width='100' height='100'  src="{{ site.url }}/assets/images/MPearl-100x100.jpg">
	    <ul class="list-inline social-buttons text-center">
		<li><a href="http://twitter.MarkPearl.co.za" target="_blank"><i class="fa fa-twitter"></i></a></li>
		<li><a href="http://github.MarkPearl.co.za" target="_blank"><i class="fa fa-github"></i></a></li>
		<li><a href="http://linkedin.MarkPearl.co.za" target="_blank"><i class="fa fa-linkedin"></i></a></li>
		<li><a href="http://videos.MarkPearl.co.za" target="_blank"><i class="fa fa-youtube"></i></a></li>
	    </ul>
	    <p>I find nothing more fulfilling than being involved in creating something that has a real impact on other people's lives. Writing software is a great way to achieve this.</p>
	    <p>Get my latest posts hot off the press. Subscribe below to get my insights in software developmentthe emails.</p>
		<form action="//MaxCutSoftware.us13.list-manage.com/subscribe/post?u=7611e7506dded1df04faff467&amp;id=122259c1a1" 
		  class="validate" 
		  id="mc-embedded-subscribe-form" 
		  method="post" name="mc-embedded-subscribe-form">
		<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups
		-->
		<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_7611e7506dded1df04faff467_122259c1a1" tabindex="-1" value=""></div>
		<div style="position: absolute; left: -5000px;">
		<input name="<some alphanum>" tabindex="-1" type="text">/</input>
		</div>
		<div class="input-group input-group-lg">
		<input class="form-control" name="EMAIL" placeholder="you@example.com" type="email"></input>
		<span class="input-group-btn">
		  <button class="btn btn-primary" name="subscribe" type="submit" value="Subscribe">
		    Subscribe
		  </button>
		</span>
		</div>
		</form>
	</div>
    </div>
</div>
{% if page.tags %}
<div class='col-md-4'>
    <div class='thumbnail'>
	<div class='caption'>
	    <h3>Tags on Post</h3>
	    {% for tag in page.tags %} 
	      <a href='{{ BASE_PATH }}{{ site.JB.tags_path }}#{{ tag }}-ref'>{{ tag }}</a>
	    {% endfor %}
	 </div>
    </div>    
</div>
{% endif %}
<div class='col-md-4'>
    <div class='thumbnail'>
	<div class='caption'>
	    <h3>Posts by Tags</h3>
	    {% assign sorted_tags = site.tags | sort %}
	    {% for tag in sorted_tags %}
	    {% assign zz = tag[1] | where: "category", "General" | sort %}
	    {% if zz != empty %}
	    <a href='{{ BASE_PATH }}{{ site.JB.tags_path }}#{{ tag[0] }}-ref'>{{ tag[0] }} ({{ tag[1].size }})</a>
	    {% endif %}
	    {% endfor %}
	</div>
    </div>
    <div class='thumbnail'>
	<div class='caption'>
	    <h3>Pages</h3>
	    {% assign pages_list = site.pages %}
	    {% include JB/pages_list %}
	</div>
    </div>
</div>
